/* generic stuff */
body {
    background-color: #fae8e8;
    font-family: sans-serif;
    color: #575757;
    word-spacing: .1em;
    font-size: 100%;
    text-align: center;
}
h1 {
  margin: 20px 0 45px 0;
  font-size: 2.5em
}
p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}
div {
    margin-bottom: 10px;
}
.clear {
    clear: both;
}

/* specific stuff */ 

.centerize {
  height: 55px;
}

.stats {
  border: 1px solid #6f0c0c;
  border-radius: 4px;
  widows: 800px;
  height: 403px;
  background-image: url("mars.jpg");
  background-size: cover;
  font-size: 1.4em;
  text-align: left; 
  padding: 15px;
  color: #74001f;
}

.button {
    /*float: left;*/
    border-radius: 2px;
    border: 1px solid #040464;
    background-color: #dedede;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
    width: 150px;
    text-align: center;
}

.button:hover {
    background-color: #eaeaea;
}

.button:active {
    background-color: #bfbfbf;
}

.paragraph {
    width: 80%;
    /* border: 1px solid #afafaf; */ 
    border-radius: 3px;
    padding: 5px;
    margin: 0 10% 35px 10%;
    font-size: 1.2em;
}

.important {
  font-size: 1.4em;
}

.messages {
    height: 250px;
    background-color: #ffffff;
}

/* classes */ 
#shoe-before {
    background-color: #d9eadf;
}
#shoe-after {
    background-color: aliceblue;
}

