/* generic stuff */
body {
    background-color: whitesmoke; /* background-color: #fae8e8; */
    font-family: sans-serif;
    color: #575757;
    word-spacing: .1em;
    font-size: 100%;
    text-align: center;
}
h1 {
  margin: 20px 0 45px 0;
  font-size: 2.5em
}
p {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
}
div {
    margin-bottom: 10px;
}
.clear {
    clear: both;
}

/* specific stuff */ 

.centerize {
  height: 55px;
}

.stats-msg {
  border: 1px solid #6f0c0c;
  border-radius: 4px;
  width: 80%;
  height: 403px;
	margin: 0 10% 0 10%;
  /*
	  background-image: url("mars.jpg");
	*/
	background-size: cover;
  font-size: 1.1em;
	letter-spacing: .05em;
  text-align: left; 
  padding: 15px;
  color: #74001f;
	visibility: hidden; 
}

.button {
    /*float: left;*/
    border-radius: 2px;
    border: 1px solid #040464;
    background-color: #dedede;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.1em;
    width: 150px;
    text-align: center;
}

.button:hover {
    background-color: #eaeaea;
}
 
.button:active {
    background-color: #bfbfbf;
}

.pledge-info {
	margin-bottom: 15px;
	height: 20px;
	width: 250px;
	font-size: 1em;
	padding: 2px;
}

.paragraph {
    width: 80%;
    /* border: 1px solid #afafaf; */ 
    border-radius: 3px;
    padding: 5px;
    margin: 0 10% 35px 10%;
    font-size: 1.2em;
}

.buttons {
	float: left;
	text-align: left;
	width: 80%;
	margin: 0 19% 0 10%;
  padding: 5px;
}

.important {
  font-size: 1.4em;
}

.messages {
    height: 250px;
    background-color: #ffffff;
}

#shoe-before {
    background-color: #d9eadf;
}
#shoe-after {
    background-color: aliceblue;
}



